[mysql]
# 文字コードの設定
default-character-set = utf8mb4

[mysqld]
lower_case_table_names=1
sql_mode=STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION

# 文字コード/照合順序の設定
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# デフォルト認証プラグインの設定
default-authentication-plugin = mysql_native_password
explicit-defaults-for-timestamp = 1　  # テーブルにTimeStamp型のカラムをもつ場合、推奨

# 実行ログの設定
#general-log = 1　                  # 実行したクエリの全ての履歴が記録される（defaultではOFFになっているらしい）
#general-log-file=/var/log/mysql/mysqld.log # ログの出力先

# エラーログの設定
#log-error = /var/log/mysql/mysql-error.log

# スロークエリログの設定
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 0
log_queries_not_using_indexes = 0

# mysqlクライアントツールの設定
[client]
# 文字コードの設定
default-character-set = utf8mb4